<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.plexus.presentation_layer">

    <application>
        <activity android:name="es.plexus.presentationlayer.feature.main.view.MainActivity"
            android:theme="@style/Theme.OpenBankTest"
            android:label="@string/activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="es.plexus.presentationlayer.feature.detail.view.DetailActivity"
            android:theme="@style/Theme.OpenBankTest"/>
    </application>
</manifest>